@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

#modal_form {
	font-family: 'Open Sans', sans-serif;
	flex-direction: column;
	width: 600px; 
	height: 450px; 
	border-radius: 5px;
	background: #fff;
	position: fixed;
	margin-top: -225px;
	display: none;
	opacity: 0; 
	z-index: 5;
	padding: 20px 20px;
	#modal_close {
		cursor: pointer;
		width: 30px;
		height: 30px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	#warn {
		width: 150px;
		height: 150px;
		margin: auto;
		img {
			width: 100%;
			height: 100%;
		}
	}
	p {
		margin-top: 30px;
		padding: {
			left: 10%;
			right: 10%;
		};
		font-size: 28px;
		text-align: center;
		line-height: 1.4;
	}
	.buttons {
		width: 80%;
		margin: auto;
		margin-top: 30px;
		height: auto;
		display: flex;
		justify-content: space-around;
		button {
			width: 195px;
			height: 40px;
			border-radius: 5px;
			font-size: 18px;
			cursor: pointer;
		}
		.cancel {
			background-color: #fff;
			border: 2px solid #d7deea;
			color: #8b93a3;
		}
		.uninstall {
			background-color: #ff3b30;
			border: 1px outset #ff3b30;
			color: #fff;
		}
	}
}

#overlay {
	z-index: 3; 
	position: fixed;
	background-color:#000; 
	opacity:0.8; 
	width:100%; 
	height:100%; 
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}
@import "media"; // Always at the end
